<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>User added</title>
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a> \
        <a class="breadcrumb-item" href="/home/all">User Select</a> \
        <a class="breadcrumb-item" href="/User/add">Add User</a> \ User Added
    </nav>

</head>
<body>
<h1>User added successfully</h1>
</body>
</html>