<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>About</title>
</head>
<body>
<div>This poorly made website allows the user to select or add a user.<br/>
Once the user is chosen, the user is able to buy or Sell stock via the history page.<br/>
The user can also view Stockmarkets and Stocks</div>
<br/>
<br/>
<div>
    <p>ER Diagram:</p>
    <img src="/images/er-diagram.png">
    <p>ER Schema:</p><img src="/images/er-Schema.png">
</div>
</body>
</html>